TIM2ADC1DMA/flows.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4e3e4f3ea9f99fc4",
        "type": "tab",
        "label": "InfluxDB test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b338160eb95ef2a3",
        "type": "influxdb out",
        "z": "4e3e4f3ea9f99fc4",
        "influxdb": "b3563b1ca46c2df4",
        "name": "",
        "measurement": "teste",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ELT73A-S22B",
        "bucket": "LAB07",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "0e8ebeca1aad9075",
        "type": "inject",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "ffd9cba3bd2638a7"
            ]
        ]
    },
    {
        "id": "ffd9cba3bd2638a7",
        "type": "function",
        "z": "4e3e4f3ea9f99fc4",
        "name": "function 1",
        "func": "msg.topic = \"InfluxData\"\nmsg.payload = {\n    \"adc1in1\": Math.floor(Math.random()*4096),\n    \"voltage1\": Math.random() * 3.3,\n    \"adc1in2\": Math.floor(Math.random()*4096),\n    \"voltage2\": Math.random() * 3.3,\n    \"blueled\": Math.round(Math.random())\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "dfa65a07ff6382d0",
                "b338160eb95ef2a3"
            ]
        ]
    },
    {
        "id": "dfa65a07ff6382d0",
        "type": "debug",
        "z": "4e3e4f3ea9f99fc4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "7ab9e353e7bfb897",
        "type": "influxdb in",
        "z": "4e3e4f3ea9f99fc4",
        "influxdb": "b3563b1ca46c2df4",
        "name": "",
        "query": "from(bucket: \"LAB07\")\n  |> range(start: -1h, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"teste\")\n  |> filter(fn: (r) => r[\"_field\"] == \"adc1in1\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "ELT73A-S22B",
        "x": 880,
        "y": 320,
        "wires": [
            [
                "1953b42118a4d7c8"
            ]
        ]
    },
    {
        "id": "6954f0e53d6599ac",
        "type": "inject",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "7ab9e353e7bfb897"
            ]
        ]
    },
    {
        "id": "1953b42118a4d7c8",
        "type": "debug",
        "z": "4e3e4f3ea9f99fc4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "49734ee473bc08d6",
        "type": "variables",
        "z": "4e3e4f3ea9f99fc4",
        "groupname": "MyVariables2",
        "accesspoint": 0,
        "execonfig": "0cd19dc4296237d4",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "ADC1IN1",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "1",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1733189378068,
        "openStatus": true,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "ec681c9fc156a601"
            ],
            []
        ]
    },
    {
        "id": "6088a943a9d5b3a8",
        "type": "inject",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "49734ee473bc08d6"
            ]
        ]
    },
    {
        "id": "6bd8fcdca8a0c89b",
        "type": "inject",
        "z": "4e3e4f3ea9f99fc4",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "49734ee473bc08d6"
            ]
        ]
    },
    {
        "id": "ec681c9fc156a601",
        "type": "acquisition out",
        "z": "4e3e4f3ea9f99fc4",
        "name": "myProbe_ST-Link-Out",
        "probeconfig": "c5bd95bc0fc7e383",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "2b205d68b518273a",
        "type": "acquisition in",
        "z": "4e3e4f3ea9f99fc4",
        "name": "myProbe_ST-Link_In",
        "probeconfig": "c5bd95bc0fc7e383",
        "x": 280,
        "y": 780,
        "wires": [
            [
                "d0d2267744663490"
            ],
            []
        ]
    },
    {
        "id": "99be6bc4e0adb462",
        "type": "subflow:8381c865.236028",
        "z": "4e3e4f3ea9f99fc4",
        "name": "ADC1IN1",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC1IN1",
                "type": "str"
            }
        ],
        "x": 780,
        "y": 720,
        "wires": [
            [
                "87f6dc74b5e28e8e"
            ]
        ]
    },
    {
        "id": "ccd4c756ea9ca725",
        "type": "subflow:8381c865.236028",
        "z": "4e3e4f3ea9f99fc4",
        "name": "ADC1IN2",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC1IN2",
                "type": "str"
            }
        ],
        "x": 780,
        "y": 780,
        "wires": [
            [
                "87f6dc74b5e28e8e"
            ]
        ]
    },
    {
        "id": "a5b47c3c6f669915",
        "type": "subflow:8381c865.236028",
        "z": "4e3e4f3ea9f99fc4",
        "name": "BLUELED",
        "env": [
            {
                "name": "varfilter",
                "value": "BLUELED",
                "type": "str"
            }
        ],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "87f6dc74b5e28e8e"
            ]
        ]
    },
    {
        "id": "30afa3340588072d",
        "type": "change",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "adc1in1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "17acc4f57fa108c6",
        "type": "change",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "adc1in2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d2267744663490",
        "type": "processing",
        "z": "4e3e4f3ea9f99fc4",
        "groupname": "MyVariables2",
        "groupid": "49734ee473bc08d6",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 540,
        "y": 780,
        "wires": [
            [
                "99be6bc4e0adb462",
                "ccd4c756ea9ca725",
                "a5b47c3c6f669915"
            ],
            []
        ]
    },
    {
        "id": "87f6dc74b5e28e8e",
        "type": "debug",
        "z": "4e3e4f3ea9f99fc4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "7ec5e40b9297330b",
        "type": "change",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "blueled",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3a5b99e48a703f9f",
        "type": "switch",
        "z": "4e3e4f3ea9f99fc4",
        "name": "",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ADC1IN1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC1IN2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BLUELED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "30afa3340588072d"
            ],
            [
                "17acc4f57fa108c6"
            ],
            [
                "7ec5e40b9297330b"
            ]
        ]
    },
    {
        "id": "b3563b1ca46c2df4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://influxdb.adrianoruseler.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "0cd19dc4296237d4",
        "type": "exe-config",
        "name": "TIM2ADC1DMA",
        "exefile": "C:\\LAB\\VScode\\LAb07\\TIM2ADC1DMA\\build\\Debug\\TIM2ADC1DMA.elf",
        "exefolder": "C:\\LAB\\VScode\\LAb07\\TIM2ADC1DMA\\build\\Debug",
        "exevariablelist": [
            {
                "address": "0x2000011c",
                "name": "AD_RES_BUFFER[0]",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "ADC1IN1",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x20000126",
                "name": "ADC1IN2",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x08003d1c",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000118",
                "name": "BLUELED",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000060",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.NbrOfCurrentConversionRank",
                "type": 5
            },
            {
                "address": "0x20000068",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hdma_adc1.Init.Channel",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hdma_adc1.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hdma_adc1.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hdma_adc1.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hdma_adc1.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x200000a8",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x200000a5",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x200000c8",
                "name": "hdma_adc1.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hdma_adc1.StreamIndex",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "hdma_adc1.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hdma_adc1.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20000112",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000010e",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000116",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000f0",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x2000010d",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20000008",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000000",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "voltage1",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000012c",
                "name": "voltage2",
                "type": 9,
                "checked": true
            }
        ],
        "expand": false,
        "filename": "TIM2ADC1DMA.elf",
        "exeModifiedTime": 1733188427431,
        "configLastUpdate": 1733189123218
    },
    {
        "id": "c5bd95bc0fc7e383",
        "type": "probe",
        "probeid": "51FF77066789495448471267",
        "probename": "ST-Link v2 51FF77066789495448471267",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J45",
        "connectionType": "p2p",
        "nickname": ""
    }
]